extends layout 
 
block content 
  h1= title 
 
  form(id='CanteenForm', action="/resource/canteen", method="POST") 
    div.form-group 
        label.canteenAttr(for='Item_name') Item Name 
        input#Item_name(type='text', name='Item_name') 
    div.form-group 
        label.canteenAttr(for='Item_type') Item Type 
        input#Item_type(type='text', name='Item_type') 
    div.form-group 
        label.canteenAttr(for='Item_price') Item Price 
        input#Item_price(type='number', name='Item_price') 
    input(type="submit") 
 
  script. 
    document.forms['CanteenForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 